In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import scipy

In [4]:
df = pd.read_csv("C:/Users/Syed Muqtasid Ali/Downloads/Documents/weight-height.csv")

In [5]:
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [6]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [7]:
mean_h = df["Height"].mean()
mean_h

66.36755975482124

In [8]:
median_h = df["Height"].median()
median_h

66.31807008178464

In [9]:
standard_deviation_h = df["Height"].std()
standard_deviation_h

3.8475281207732324

In [10]:
mean_w = df["Weight"].mean()
mean_w

161.44035683283076

In [11]:
median_w = df["Weight"].median()
median_w

161.21292769948298

In [12]:
standard_deviation_w= df["Weight"].std()
standard_deviation_w

32.108439006519546

For finding skewness and kurtosis we need to export stat library

In [13]:
from scipy import stats

In [14]:
pip install scipy

Requirement already satisfied: scipy in c:\users\syed muqtasid ali\anaconda3\lib\site-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in c:\users\syed muqtasid ali\anaconda3\lib\site-packages (from scipy) (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [15]:
skewness_h = stats.skew(df["Height"])
skewness_h

0.04936168370490536

In [16]:
kurtosis_h = stats.kurtosis(df["Height"])
kurtosis_h

-0.4744964699248557

In [17]:
skewness_w = stats.skew(df["Weight"])
skewness_w

0.032949561064277405

In [18]:
kurtosis_w = stats.kurtosis(df["Weight"])
kurtosis_w

-0.794820272056854

In [20]:
print("Mean of Height: ",mean_h)
print("Median of Height:",median_h)
print("Standard Deviation Of Height :",standard_deviation_h)
print("----------------------")

print("Mean of Weight: ",mean_w)
print("Median of Weight:",median_w)
print("Standard Deviation Of Weight :",standard_deviation_w)
print("----------------------")

print("Skewness of Height: ",skewness_h)
print("Kurtosis of Height:",kurtosis_h)
print("----------------------")

print("Skewness of Weight: ",skewness_w)
print("Kurtosis of Weight:",kurtosis_w)
print("----------------------")

Mean of Height:  66.36755975482124
Median of Height: 66.31807008178464
Standard Deviation Of Height : 3.8475281207732324
----------------------
Mean of Weight:  161.44035683283076
Median of Weight: 161.21292769948298
Standard Deviation Of Weight : 32.108439006519546
----------------------
Skewness of Height:  0.04936168370490536
Kurtosis of Height: -0.4744964699248557
----------------------
Skewness of Weight:  0.032949561064277405
Kurtosis of Weight: -0.794820272056854
----------------------